.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5% 4%;
  z-index: 5;
  color: #fff;
  @include sp {
    padding: 4% 2%;
  }
  .js-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 20;
    @include sp {
      display: block;
    }
    span {
      display: inline-block;
      position: absolute;
      top: 0%;
      right: 40%;
      width: 20px;
      height: 2px;
      background: #fff;
      &:first-child {
        top: 20%;
        transition: 0.5s;
      }
      &:nth-child(2) {
        top: 50%;
        transition: 0.5s;
      }
      &:nth-child(3) {
        top: 80%;
        transition: 0.5s;
      }
    }
    &.is-active {
      span {
        background: #333;
        transition: 0.5s;
        &:first-child {
          top: 50%;
          transform: rotate(45deg);
          transition: 0.5s;
        }
        &:nth-child(2) {
          opacity: 0;
          transition: 0.5s;
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
          transition: 0.5s;
        }
      }
    }
  }
  &__g-nav {
    @include sp {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      padding-top: 20%;
      background: #fff;
      transition: all 0.5s;
      text-align: center;
      z-index: 15;
    }
    &.is-active {
      right: 0;
      overflow-y: hidden;
      transition: all 0.5s;
    }
    &-logo {
      display: none;
      @include sp {
        display: block;
      }
    }
    .sp-gnav-logo {
      display: none;
      @include sp {
        display: inline-block;
        width: 50%;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    @include sp {
      flex-direction: column;
      margin-top: 20%;
      line-height: 4.5rem;
      text-align: center;
    }
    &-item {
      position: relative;
      margin: 0 4%;
      padding-bottom: 2%;
      letter-spacing: 0.1rem;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 0%;
        height: 1px;
        background: #fff;
        transition: 0.3s;
      }
      &:hover {
        &:before {
          width: 100%;
          transition: 0.3s;
        }
      }
      @include sp {
        font-size: 24px;
        color: #333;
      }
    }
  }
}
.header.active {
  background: #333;
  transition: 0.5s;
}
.js-list-border {
  &.is-active {
    border-bottom: 1px solid #fff;
  }
}
