.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5% 4%;
  z-index: 5;
  color: #fff;
  @include sp {
    padding: 4% 2%;
  }
  &__logo {
    font-size: 32px;
    font-style: italic;
    @include sp {
      font-size: 32px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    &-item {
      margin: 0 4%;
      letter-spacing: 0.1rem;
      @include sp {
        font-size: 14px;
      }
    }
  }
}
.header.active {
  background: #333;
  transition: 0.5s;
}
