.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5% 4%;
  z-index: 5;
  color: #fff;
}
@media (max-width: 500px) {
  .header {
    padding: 4% 2%;
  }
}
.header .js-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 20;
}
@media (max-width: 500px) {
  .header .js-btn {
    display: block;
  }
}
.header .js-btn span {
  display: inline-block;
  position: absolute;
  top: 0%;
  right: 40%;
  width: 20px;
  height: 2px;
  background: #fff;
}
.header .js-btn span:first-child {
  top: 20%;
  transition: 0.5s;
}
.header .js-btn span:nth-child(2) {
  top: 50%;
  transition: 0.5s;
}
.header .js-btn span:nth-child(3) {
  top: 80%;
  transition: 0.5s;
}
.header .js-btn.is-active span {
  background: #333;
  transition: 0.5s;
}
.header .js-btn.is-active span:first-child {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.5s;
}
.header .js-btn.is-active span:nth-child(2) {
  opacity: 0;
  transition: 0.5s;
}
.header .js-btn.is-active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.5s;
}
@media (max-width: 500px) {
  .header__g-nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    z-index: 15;
  }
}
.header__g-nav.is-active {
  right: 0;
  overflow-y: hidden;
  transition: all 0.5s;
}
.header__list {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5%;
}
.header__list-item {
  margin: 0 4%;
  letter-spacing: 0.1rem;
}
@media (max-width: 500px) {
  .header__list-item {
    font-size: 14px;
    color: #333;
  }
}

.header.active {
  background: #333;
  transition: 0.5s;
}

.footer {
  padding: 3% 0 1%;
  background: #333;
  color: #fff;
  text-align: center;
}
@media (max-width: 500px) {
  .footer {
    padding: 4%;
  }
}
.footer__logo {
  width: 10%;
}
@media (max-width: 500px) {
  .footer__logo {
    font-size: 22px;
  }
}
.footer__list {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.footer__list-item {
  margin: 2% 1% 0;
  letter-spacing: 0.1rem;
}
@media (max-width: 500px) {
  .footer__list-item {
    font-size: 14px;
  }
}
.footer small {
  font-size: 10px;
  font-weight: 100;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Kaisei Decol", serif;
  color: #333;
  letter-spacing: 1px;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 4% 2%;
}

.logo {
  display: inline-block;
  width: 10%;
  text-align: center;
}
@media (max-width: 500px) {
  .logo {
    width: 20%;
  }
}

.btn {
  position: relative;
  padding: 1.5% 8%;
  border: 1px solid #e0dcdc;
  transition: all 0.5s;
}
.btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 63%;
  right: 10%;
  width: 30px;
  height: 1px;
  background: #333;
  transition: all 0.5s;
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 55%;
  right: 9%;
  width: 10px;
  height: 1px;
  transform: rotate(45deg);
  background: #333;
  transition: all 0.5s;
}
.btn:hover {
  background: #333;
  color: #fff;
}
.btn:hover::before {
  background: #fff;
  right: 7%;
  transition: all 0.5s;
}
.btn:hover::after {
  background: #fff;
  right: 6%;
  transition: all 0.5s;
}

.sec-title {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .sec-title {
    text-align: center;
  }
}

.home .mv {
  position: relative;
  background: url(../images/fv_pc.jpg) no-repeat top/cover;
  height: 120vh;
}
.home .mv__hero {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2%;
  letter-spacing: 10px;
  color: #fff;
}
@media (max-width: 500px) {
  .home .mv__hero {
    flex-direction: column;
    top: 60%;
    width: 100%;
    text-align: center;
  }
}
.home .mv__catch-copy {
  display: inline-block;
}
.home .mv__hr {
  display: inline-block;
  width: 50px;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .home .mv__hr {
    width: 20px;
  }
}
.home .mv__catch-copy {
  font-size: 36px;
  padding-bottom: 10%;
  font-weight: bold;
}
.home .feature {
  background: linear-gradient(#644948, #192237);
}
.home .feature__heading {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
@media (max-width: 500px) {
  .home .feature__heading {
    font-size: 1.4rem;
    line-height: 1.7em;
  }
}
.home .feature__text {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8%;
  color: #fff;
}
@media (max-width: 500px) {
  .home .feature__text {
    flex-direction: column;
  }
}
.home .feature__text-logo {
  width: 10%;
}
@media (max-width: 500px) {
  .home .feature__text-logo {
    width: 22%;
  }
}
.home .feature__item {
  padding: 2% 0;
  margin-left: 1%;
  width: 31%;
}
@media (max-width: 500px) {
  .home .feature__item {
    width: 100%;
    margin-top: 3%;
    margin-left: 0;
  }
}
.home .feature__item:first-child {
  margin-left: 0;
}
.home .feature__item-title {
  font-size: 1.4rem;
  font-weight: bold;
}
.home .feature__item-desc {
  margin-top: 0.8rem;
  line-height: 1.8rem;
}
.home .column {
  background: #fafafa;
}
.home .column__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .column__container {
    flex-direction: column;
    padding-bottom: 8%;
  }
}
.home .column .news {
  width: 70%;
}
@media (max-width: 500px) {
  .home .column .news {
    width: 100%;
  }
}
.home .column .news__block {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 2%;
  padding: 2% 2% 4%;
  border: 1px solid #e0dcdc;
}
.home .column .news__block table {
  width: 100%;
}
.home .column .news__block tr {
  border-bottom: 1px solid #e0dcdc;
}
.home .column .news__block td {
  padding-top: 4%;
}
@media (max-width: 500px) {
  .home .column .news__block td {
    padding-top: 2%;
  }
}
.home .column .news__date {
  width: 10%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .column .news__date {
    display: block;
  }
}
.home .column .news__comment {
  width: 70%;
}
@media (max-width: 500px) {
  .home .column .news__comment {
    display: block;
    width: 100%;
    margin-bottom: 2%;
  }
}
.home .column .news__linkarea {
  margin-top: 4%;
  text-align: right;
}
.home .column .news__link {
  color: #0000ee;
  opacity: 1;
  transition: all 0.5s;
}
.home .column .news__link:hover {
  opacity: 0.7;
  transition: all 0.5s;
}
.home .column .sidebar {
  width: 32%;
  margin-left: 2%;
}
@media (max-width: 500px) {
  .home .column .sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 8%;
  }
}
.home .column .sidebar__block {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 4%;
  padding: 2%;
  border: 1px solid #e0dcdc;
}
.home .program {
  overflow: hidden;
  background: #fff;
}
.home .program .sec-title {
  text-align: center;
  color: #333;
}
.home .program .slick-prev,
.home .program .slick-next {
  display: none;
}
.home .program .slick-dots {
  display: flex !important;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
}
.home .program .slide-items {
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}
.home .program .slide-items li {
  margin: 20px;
}
@media (max-width: 500px) {
  .home .program .slide-items li {
    margin: 10px;
  }
}
.home .program .slide-items li img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .home .program .slide-items li img {
    height: 220px;
  }
}
.home .program__list-textarea {
  padding: 3% 3% 6%;
  box-shadow: 5px 5px 10px #ccc;
}
@media (max-width: 500px) {
  .home .program__list-textarea {
    width: 100%;
  }
}
.home .program__title {
  font-size: 16px;
}
.home .program__onair-date {
  margin-top: 1%;
  font-size: 12px;
}
@media (max-width: 500px) {
  .home .program__onair-date {
    font-size: 12px;
  }
}
.home .program__detail {
  margin-top: 2%;
  line-height: 1.8em;
  font-size: 14px;
}
@media (max-width: 500px) {
  .home .program__detail {
    font-size: 14px;
  }
}
.home .program__img {
  box-shadow: 5px 0px 10px #ccc;
}
@media (max-width: 500px) {
  .home .program__img {
    width: 100%;
  }
}
.home .program__btn {
  text-align: right;
  margin-top: 8%;
}
.home .program__btn .btn {
  border: 1px solid #333;
  font-size: 14px;
}
.home .program__btn .btn::before {
  width: 20px;
}
.home .program__btn .btn::after {
  top: 52%;
}
.home .actor {
  overflow: hidden;
  background: url(../images/voice_bg.png) no-repeat center/cover;
}
.home .actor .sec-title {
  text-align: center;
}
.home .actor__container {
  padding: 4% 2% 6%;
}
@media (max-width: 500px) {
  .home .actor__container {
    padding: 4% 2% 10%;
  }
}
.home .actor__list {
  display: flex;
  justify-content: center;
  margin: 4% 0;
}
.home .actor__list-item {
  width: 15%;
  margin: 0 4%;
}
@media (max-width: 500px) {
  .home .actor__list-item {
    width: 20%;
    margin: 8% 6%;
  }
}
.home .actor__name {
  margin-top: 4%;
  text-align: center;
}
.home .actor__imgwrap {
  border-radius: 50%;
  box-shadow: 5px 5px 10px #ccc;
}
.home .actor__btn {
  margin-top: 6%;
  text-align: right;
}
.home .actor__btn .btn {
  border-color: #333;
  padding: 1% 4%;
}

.actor-page .header {
  background: #333;
}
.actor-page .actor {
  background: url(../images/voice_bg.png) no-repeat center/cover;
}
@media (max-width: 500px) {
  .actor-page .actor {
    padding-top: 20%;
  }
}
.actor-page .actor__container {
  padding: 10% 0;
}
.actor-page .actor__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .actor-page .actor__list {
    flex-wrap: wrap;
    padding: 4%;
  }
}
.actor-page .actor__list .tab {
  width: 15%;
}
@media (max-width: 500px) {
  .actor-page .actor__list .tab {
    width: 30%;
    margin-bottom: 4%;
  }
}
.actor-page .actor__list .tab .actor__imgwrap {
  width: 75%;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #ccc;
}
.actor-page .actor .panel-group {
  margin-top: 4%;
}
.actor-page .actor .tab {
  opacity: 0.7;
}
.actor-page .actor .tab.is-active {
  opacity: 1;
}
.actor-page .actor .panel {
  display: none;
}
.actor-page .actor .panel.is-show {
  display: block;
  -webkit-animation: isShow 1s ease forwards;
          animation: isShow 1s ease forwards;
}
@-webkit-keyframes isShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes isShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.actor-page .actor__card {
  display: flex;
}
@media (max-width: 500px) {
  .actor-page .actor__card {
    margin-top: 0%;
    align-items: center;
    flex-direction: column;
  }
}
.actor-page .actor__bigimgwrap {
  width: 50%;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #ccc;
}
.actor-page .actor__bigimgwrap img {
  transition: all 0.5s;
}
.actor-page .actor__text {
  width: 90%;
  padding: 4% 0 4% 6%;
}
@media (max-width: 500px) {
  .actor-page .actor__text {
    width: 100%;
    margin-top: 4%;
    padding: 4%;
  }
}
.actor-page .actor__name {
  font-size: 32px;
}
@media (max-width: 500px) {
  .actor-page .actor__name {
    font-size: 24px;
  }
}
.actor-page .actor__detail {
  margin-top: 2%;
  line-height: 2em;
}
.actor-page .actor__history {
  padding: 4% 0;
}
@media (max-width: 500px) {
  .actor-page .actor__history {
    width: 100%;
    padding: 4%;
  }
}
.actor-page .actor__history-title {
  font-size: 28px;
}
@media (max-width: 500px) {
  .actor-page .actor__history-title {
    font-size: 24px;
  }
}
.actor-page .actor__history-detail {
  margin-top: 2%;
  line-height: 2em;
}
.actor-page .actor .imgOpacity {
  opacity: 0;
  transition: all 0.5;
}

.contact-page .header {
  background: #333;
}
.contact-page .contact {
  background: url(../images/voice_bg.png) no-repeat center/cover;
  padding: 8% 0;
}
.contact-page .contact__name, .contact-page .contact__mail, .contact-page .contact__textarea {
  width: 70%;
  padding: 1%;
  background: #fff;
  border: 1px solid #e0dcdc;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .contact-page .contact__name, .contact-page .contact__mail, .contact-page .contact__textarea {
    width: 100%;
    margin-top: 2%;
  }
}
.contact-page .contact .sec-title {
  text-align: center;
  margin-bottom: 10%;
}
.contact-page .contact__btn-wrap {
  text-align: center;
}
.contact-page .contact__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 6% auto;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 4px solid #179e43;
  transition: 0.3s;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #19d256;
}
.contact-page .contact__btn:hover {
  box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  border-bottom-width: 2px;
  transform: translateY(2px);
}
.contact-page .contact__container {
  width: 50%;
}
@media (max-width: 500px) {
  .contact-page .contact__container {
    width: 100%;
    padding-top: 20%;
  }
}
.contact-page .contact .send {
  margin-bottom: 2%;
}
.contact-page .contact .program-wrap {
  margin-bottom: 1%;
}
.contact-page .contact label[for=your-name],
.contact-page .contact [for=e-mail] {
  display: inline-block;
  width: 20%;
}
@media (max-width: 500px) {
  .contact-page .contact label[for=your-name],
.contact-page .contact [for=e-mail] {
    display: block;
    width: 100%;
  }
}
.contact-page .contact label[for=message] {
  vertical-align: top;
  display: inline-block;
  width: 20%;
}
@media (max-width: 500px) {
  .contact-page .contact label[for=message] {
    display: block;
    width: 100%;
  }
}
.contact-page .contact__textarea {
  height: 200px;
}
.contact-page .contact .field-wrap {
  margin-top: 4%;
}/*# sourceMappingURL=style.css.map */