@charset 'UTF-8';

@import "base/variables";
@import "page/header";
@import "page/footer";

html {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Kaisei Decol", serif;
  color: #333;
  letter-spacing: 1px;
}
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  padding: 4% 2%;
  @include sp {
    padding: 14% 2%;
  }
}
.logo {
  display: inline-block;
  width: 10%;
  text-align: center;
  @include sp {
    width: 20%;
  }
}
.btn {
  position: relative;
  padding: 1.5% 8%;
  border: 1px solid $borderColor;
  transition: all 0.5s;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 63%;
    right: 10%;
    width: 30px;
    height: 1px;
    background: #333;
    transition: all 0.5s;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 55%;
    right: 9%;
    width: 10px;
    height: 1px;
    transform: rotate(45deg);
    background: #333;
    transition: all 0.5s;
  }
  &:hover {
    background: #333;
    color: #fff;
    &::before {
      background: #fff;
      right: 7%;
      transition: all 0.5s;
    }
    &::after {
      background: #fff;
      right: 6%;
      transition: all 0.5s;
    }
  }
}
.sec-title {
  font-size: 32px;
  font-weight: bold;
  @include sp {
    text-align: center;
  }
}
.home {
  .mv {
    position: relative;
    background: url(../images/fv_pc.jpg) no-repeat top/cover;
    height: 120vh;
    @include sp {
      background: url(../images/fv_sp.png) no-repeat center/cover;
      height: 100vh;
    }
    .hero {
      position: absolute;
      top: 64%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 2%;
      letter-spacing: 10px;
      color: #fff;
      @include sp {
        flex-direction: column;
        top: 60%;
        width: 100%;
        text-align: center;
      }
      &__copy {
        display: inline-block;
      }
      &__hr {
        display: inline-block;
        width: 50px;
        margin-bottom: 3%;
        @include sp {
          width: 20px;
        }
      }
      &__copy {
        font-size: 36px;
        padding-bottom: 10%;
        font-weight: bold;
      }
    }
  }

  .feature {
    overflow-x: hidden;
    padding: 3% 0;
    background: linear-gradient(#644948, #192237);
    .heading {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      color: #fff;
      @include sp {
        font-size: 1.4rem;
        line-height: 1.7em;
      }
      &__logo {
        width: 10%;
        @include sp {
          width: 22%;
        }
      }
    }
  }
  .column {
    &__list {
      display: flex;
      flex-direction: column;
      margin: 4% 0 0 0;
    }
    &__item {
      position: relative;
      color: #fff;
    }
    &__bg {
      height: 40vh;
    }
    &__bg01 {
      background: url(../images/feature_img01.jpeg) no-repeat center/cover;
    }
    &__bg02 {
      background: url(../images/feature_img02.jpeg) no-repeat center/cover;
    }
    &__bg03 {
      background: url(../images/feature_img03.jpeg) no-repeat center/cover;
    }
    &__text {
      position: absolute;
      top: 48%;
      left: 20%;
      transform: translateY(-50%);
      width: 60%;
    }
    &__title {
      font-size: 36px;
    }
    &__desc {
      margin: 1% 0 0 0;
      font-size: 24px;
      line-height: 1.7;
    }
  }
}
.program {
  overflow: hidden;
  background: #fff;
  .sec-title {
    text-align: center;
    color: #333;
  }
  .carousel {
    margin: 4% auto 0;
    width: 80%;
    height: 540px;
    &-wrapper {
      position: relative;
    }
  }
  .swiper {
    &-slide {
      width: 40% !important;
    }
    &-pagination {
      bottom: -40px;
      z-index: 10;
    }
    &-button-prev {
      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #ccc;
        opacity: 0.7;
        z-index: -1;
      }
    }
    &-button-next {
      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #ccc;
        opacity: 0.7;
        z-index: -1;
      }
    }
  }
  .card {
    box-shadow: 0 0 10px #ccc;
    &__img {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    &__text {
      padding: 2% 2% 8%;
      background: #fff;
    }
    &__title {
      font-size: 18px;
    }
    &__date {
      margin-top: 0.5%;
      font-size: 12px;
    }
    &__detail {
      margin-top: 1.5%;
      line-height: 1.8em;
      font-size: 14px;
    }
    &__btn {
      text-align: right;
      margin: 8% 2% 0;
      .btn {
        border: 1px solid #333;
        font-size: 14px;
        &::before {
          width: 20px;
        }
        &::after {
          top: 52%;
        }
      }
    }
  }
}
.actor {
  overflow: hidden;
  background: url(../images/voice_bg.png) no-repeat center/cover;
  .sec-title {
    text-align: center;
  }
  &__container {
    padding: 4% 2% 6%;
    @include sp {
      padding: 14% 2%;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 4% 0;
    &-item {
      width: 15%;
      margin: 0 4%;
      @include sp {
        width: 20%;
        margin: 8% 6%;
      }
    }
  }
  &__name {
    margin-top: 4%;
    text-align: center;
  }
  &__imgwrap {
    border-radius: 50%;
    box-shadow: 5px 5px 10px #ccc;
  }
  &__btn {
    margin-top: 6%;
    text-align: right;
    .btn {
      border-color: #333;
      padding: 1% 4%;
    }
  }
}
.column {
  background: #fafafa;
  &__container {
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
      padding-bottom: 8%;
    }
  }
  .news {
    width: 70%;
    @include sp {
      width: 100%;
    }
    &__block {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      margin-top: 2%;
      padding: 2% 2% 4%;
      border: 1px solid $borderColor;
      table {
        width: 100%;
      }
      tr {
        border-bottom: 1px solid $borderColor;
      }
      td {
        padding-top: 4%;
        @include sp {
          padding-top: 2%;
        }
      }
    }
    &__date {
      width: 10%;
      padding-left: 1%;
      @include sp {
        display: block;
      }
    }
    &__comment {
      width: 70%;
      @include sp {
        display: block;
        width: 100%;
        margin-bottom: 2%;
      }
    }
    &__linkarea {
      margin-top: 4%;
      text-align: right;
    }
    &__link {
      color: #0000ee;
      opacity: 1;
      transition: all 0.5s;
      &:hover {
        opacity: 0.7;
        transition: all 0.5s;
      }
    }
  }
  .sidebar {
    width: 32%;
    margin-left: 2%;
    @include sp {
      width: 100%;
      margin-left: 0;
      margin-top: 8%;
    }
    &__block {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      margin-top: 4%;
      padding: 2%;
      border: 1px solid $borderColor;
    }
  }
}
.actor-page {
  .header {
    background: #333;
  }
  .actor {
    background: url(../images/voice_bg.png) no-repeat center/cover;
    @include sp {
      padding-top: 20%;
    }
    &__container {
      padding: 10% 0;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      @include sp {
        flex-wrap: wrap;
        padding: 4%;
      }
      .tab {
        width: 15%;
        @include sp {
          width: 30%;
          margin-bottom: 4%;
        }
        .actor__imgwrap {
          width: 75%;
          border-radius: 50%;
          box-shadow: 5px 5px 10px #ccc;
        }
      }
    }
    .panel-group {
      margin-top: 4%;
    }
    .tab {
      opacity: 0.7;
    }
    .tab.is-active {
      opacity: 1;
    }
    .panel {
      display: none;
      &.is-show {
        display: block;
        animation: isShow 1s ease forwards;
        @keyframes isShow {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
    &__card {
      display: flex;
      @include sp {
        margin-top: 0%;
        align-items: center;
        flex-direction: column;
      }
    }
    &__bigimgwrap {
      width: 50%;
      border-radius: 50%;
      box-shadow: 5px 5px 10px #ccc;
      img {
        transition: all 0.5s;
      }
    }
    &__text {
      width: 90%;
      padding: 4% 0 4% 6%;
      @include sp {
        width: 100%;
        margin-top: 4%;
        padding: 4%;
      }
    }
    &__name {
      font-size: 32px;
      @include sp {
        font-size: 24px;
      }
    }
    &__detail {
      margin-top: 2%;
      line-height: 2em;
    }
    &__history {
      padding: 4% 0;
      @include sp {
        width: 100%;
        padding: 4%;
      }
      &-title {
        font-size: 28px;
        @include sp {
          font-size: 24px;
        }
      }
      &-detail {
        margin-top: 2%;
        line-height: 2em;
      }
    }
    .imgOpacity {
      opacity: 0;
      transition: all 0.5;
    }
  }
}
.contact-page {
  .header {
    background: #333;
  }
  .contact {
    background: url(../images/voice_bg.png) no-repeat center/cover;
    padding: 8% 0;
    &__name,
    &__mail,
    &__textarea {
      width: 70%;
      padding: 1%;
      background: #fff;
      border: 1px solid $borderColor;
      border-radius: 5px;
      @include sp {
        width: 100%;
        margin-top: 2%;
      }
    }
    .sec-title {
      text-align: center;
      margin-bottom: 10%;
    }
    &__btn-wrap {
      text-align: center;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      margin: 6% auto;
      font-size: 18px;
      letter-spacing: 2px;
      border-radius: 5px;
      width: 200px;
      height: 40px;
      font-weight: bold;
      border-bottom: 4px solid #179e43;
      transition: 0.3s;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
      background-color: #19d256;
      &:hover {
        box-shadow: 0 0 rgba(0, 0, 0, 0.4);
        border-bottom-width: 2px;
        transform: translateY(2px);
      }
    }
    &__container {
      width: 50%;
      @include sp {
        width: 100%;
        padding-top: 20%;
      }
    }
    .send {
      margin-bottom: 2%;
    }
    .program-wrap {
      margin-bottom: 1%;
    }
    label[for="your-name"],
    [for="e-mail"] {
      display: inline-block;
      width: 20%;
      @include sp {
        display: block;
        width: 100%;
      }
    }
    label[for="message"] {
      vertical-align: top;
      display: inline-block;
      width: 20%;
      @include sp {
        display: block;
        width: 100%;
      }
    }
    &__textarea {
      height: 200px;
    }
    .field-wrap {
      margin-top: 4%;
    }
  }
}
