.home {
  .actor {
    overflow: hidden;
    padding: 8% 0 0;
    background: url(../images/voice_bg.png) no-repeat center/cover;
    @include sp {
      padding: 8% 0;
    }
    .sec-title {
      text-align: center;
    }
    &__inner {
      padding: 4% 2% 6%;
      @include sp {
        padding: 14% 2%;
      }
    }
    &__list {
      display: flex;
      justify-content: center;
      margin: 4% 0;
      &-item {
        width: 15%;
        margin: 0 4%;
        @include sp {
          width: 30%;
          margin: 8% 6%;
        }
      }
    }
    &__name {
      margin-top: 4%;
      font-size: 20px;
      text-align: center;
      @include sp {
        font-size: 16px;
      }
    }
    &__imgwrap {
      border-radius: 50%;
      box-shadow: 5px 5px 10px #ccc;
    }
    &__btn {
      margin-top: 6%;
      text-align: right;
      .btn {
        border-color: #ccc;
        padding: 1% 10% 1% 4%;
        &:before {
          @include sp {
            right: 10px;
          }
        }
        &:after {
          @include sp {
            top: 16px;
            right: 8px;
          }
        }
      }
    }
  }
}
// .actor-page
.actor-page {
  .header {
    background: #333;
  }
  .actor {
    padding: 8% 0 4%;
    background: url(../images/voice_bg.png) no-repeat center/cover;
    @include sp {
      padding-top: 20%;
    }
    &__container {
      padding: 10% 0;
    }
    .sec-title {
      font-size: 70px;
      text-align: center;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 4% 0 0;
      @include sp {
        flex-wrap: wrap;
        padding: 4%;
      }
      .tab {
        width: 15%;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          pointer-events: none;
        }
        @include sp {
          width: 30%;
          margin-bottom: 4%;
        }
        .actor__imgwrap {
          width: 75%;
          border-radius: 50%;
          box-shadow: 5px 5px 10px #ccc;
        }
      }
    }
    .panel-group {
      margin-top: 4%;
    }
    .tab {
      opacity: 0.7;
    }
    .tab.is-active {
      opacity: 1;
    }
    .panel {
      display: none;
      &.is-show {
        display: block;
        animation: isShow 1s ease forwards;
        @keyframes isShow {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
    &__card {
      display: flex;
      align-items: flex-start;
      @include sp {
        flex-direction: column;
        margin-top: 0%;
        align-items: center;
      }
    }
    &__bigimgwrap {
      position: relative;
      width: 50%;
      border-radius: 50%;
      box-shadow: 5px 5px 10px #ccc;
      img {
        transition: all 0.5s;
      }
    }
    &__text {
      width: 90%;
      padding: 4% 0 4% 6%;
      @include sp {
        width: 100%;
        margin-top: 4%;
        padding: 0;
      }
    }
    &__name {
      font-size: 32px;
      text-align: left;
      @include sp {
        font-size: 24px;
      }
    }
    &__personal__list {
      margin: 2% 0 0;
      line-height: 1.7;
      &-ttl,
      &-desc {
        display: inline-block;
        vertical-align: top;
      }
      &-ttl {
        width: 25%;
      }
      &-desc {
        width: 73%;
      }
    }
    .history {
      display: flex;
      justify-content: space-between;
      margin: 2% 0 0 0;
      @include sp {
        flex-direction: column;
      }
      &__ttl {
        font-size: 24px;
        @include sp {
          margin: 4% 0 0;
        }
      }
      &__cat {
        margin: 2% 0 0;
        @include sp {
          margin: 4% 0 0;
        }
      }
      &__container {
        padding: 2% 0 0;
        width: 50%;
        @include sp {
          width: 100%;
        }
        &__list {
          padding: 2% 0 0;
          line-height: 2;
          @include sp {
            width: 100%;
          }
          &-ttl {
            display: inline-block;
            width: 49%;
            font-size: 14px;
            @include sp {
              display: block;
              margin: 2% 0 0;
              width: 100%;
              font-size: 18px;
            }
          }
          &-desc {
            display: inline-block;
            width: 50%;
            font-size: 14px;
            vertical-align: top;
            @include sp {
              display: block;
              margin: -1% 0 0;
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }
      &__sub-cat {
        display: inline-block;
        margin: 2% 0 0;
        padding: 0.5% 1%;
        border-radius: 5px;
        background: rgb(89, 2, 6);
        color: #fff;
      }
    }
    .imgOpacity {
      opacity: 0;
      transition: all 0.5;
    }
  }
}
