.footer {
  background: #333;
  color: #fff;
  text-align: center;
  @include sp {
    padding: 1.5% 2% 0.5%;
  }
  .inner {
    padding: 2% 2% 1%;
    @include sp {
      padding: 1.5% 2% 0.5%;
    }
  }
  &__logo {
    width: 10%;
    @include sp {
      font-size: 22px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 1% 0 0;
    @include sp {
      margin-top: 2%;
    }
    &-item {
      margin: 0 1% 0;
      letter-spacing: 0.1rem;
      font-size: 14px;
      @include sp {
        font-size: 12px;
      }
    }
  }
  small {
    display: inline-block;
    margin: 2% 0 0;
    font-size: 10px;
    font-weight: lighter;
    @include sp {
      margin: 4% 0 0;
    }
  }
}
