.news-page {
  .header {
    background: #333;
  }
  .news {
    padding: 8% 0 0;
    background: url(../images/voice_bg.png) no-repeat center/cover;
  }
  .news {
    @include sp {
      width: 100%;
    }
    &__block {
      width: 100%;
      background: #fff;
      border-radius: 5px;
      margin-top: 2%;
      padding: 2% 2% 4%;
      border: 1px solid $borderColor;
      table {
        width: 100%;
      }
      tr {
        border-bottom: 1px solid $borderColor;
      }
      td {
        padding-top: 4%;
        @include sp {
          padding-top: 2%;
        }
      }
    }
    &__date {
      width: 10%;
      padding-left: 1%;
      @include sp {
        display: block;
      }
    }
    &__comment {
      width: 70%;
      @include sp {
        display: block;
        width: 100%;
        margin-bottom: 2%;
      }
    }
    &__linkarea {
      margin-top: 4%;
      text-align: right;
    }
  }
}
