.home {
  .program {
    overflow: hidden;
    background: #fff;
    padding: 8% 0;
    @include sp {
      padding: 20% 0 28%;
    }
    .sec-title {
      text-align: center;
      color: #333;
    }
    .swiper-slide {
      margin: 4% 0 0;
      @include sp {
        margin: 8% 0 0;
      }
      &__item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 0 20px #ccc;
        @include sp {
          flex-direction: column-reverse;
        }
        &__txt {
          padding: 2%;
          width: 70%;
          text-align: right;
          @include sp {
            padding: 2% 2% 10%;
            width: 100%;
          }
          &-ttl {
            font-weight: bold;
            font-size: 36px;
            text-align: left;
            @include sp {
              font-size: 24px;
            }
          }
          &-date {
            margin: 1% 0 0;
            font-size: 18px;
            text-align: left;
            @include sp {
              font-size: 14px;
            }
          }
          &-desc {
            margin: 2% 0 0;
            padding: 0 0 4%;
            font-size: 20px;
            line-height: 1.7;
            text-align: left;
            @include sp {
              font-size: 14px;
            }
          }
        }
        &__btn {
          @include sp {
            display: inline-block;
            margin: 0 2% 0 0;
          }
        }
        &-img {
          width: 30%;
          @include sp {
            width: 100%;
          }
          img {
            border-radius: 25px 0 0 25px;
            @include sp {
              border-radius: 25px 25px 0 0;
            }
          }
        }
      }
      &03 {
        .swiper-slide__item {
          &__txt {
            padding: 2% 2% 4%;
          }
          &-img {
            img {
              border-radius: 0;
              @include sp {
                border-radius: 25px 25px 0 0;
              }
            }
          }
        }
      }
    }
    .swiper {
      &-wrapper {
        @include sp {
          display: flex;
          align-items: center;
        }
      }
      &-pagination {
        bottom: -40px;
        z-index: 10;
      }
      &-button {
        &-prev,
        &-next {
          position: absolute;
          top: 50%;
          width: 50px;
          height: 50px;
          opacity: 0.7;
          &:after {
            content: "";
            background: url(../images/swiper-arrow.svg) no-repeat center/cover;
            width: 50px;
            height: 50px;
          }
        }
        &-prev {
          left: 5%;
          transform: rotate(180deg);
          @include sp {
            left: 0;
          }
        }
        &-next {
          right: 5%;
          @include sp {
            right: 0;
          }
        }
      }
    }
  }
}
.program-page {
  .header {
    background: #333;
  }
  .sec-title {
    font-size: 70px;
    text-align: center;
  }
  .program {
    padding: 8% 0 4%;
    background: url(../images/voice_bg.png) no-repeat center/cover;
    &__list {
      display: flex;
      flex-direction: column;
      margin: 4% 0 0;
      @include sp {
        margin: 12% 0 0;
      }
    }
    &__item {
      display: flex;
      align-items: flex-start;
      margin: 4% 0 0;
      background: #fff;
      border-radius: 25px;
      box-shadow: 0 0 20px #ccc;
      @include sp {
        flex-direction: column;
        align-items: center;
        margin: 20% 0 0;
      }
      &:first-child {
        margin: 0;
      }
      &:nth-child(3) {
        align-items: center;
      }
      &:not(:last-child) {
        .program__item-img {
          img {
            border-radius: 25px 0 0 25px;
          }
        }
      }
      &-img {
        width: 40%;
        @include sp {
          width: 70%;
        }
      }
      &-text {
        padding: 2% 2% 4%;
        @include sp {
          padding: 2%;
        }
      }
      &-ttl {
        font-weight: bold;
        font-size: 36px;
        @include sp {
          margin: 4% 0 0;
          font-size: 24px;
        }
      }
      &-date {
        margin: 1% 0 0;
      }
      &-detail {
        margin: 3% 0 0;
        line-height: 1.7;
        @include sp {
          line-height: 1.7;
        }
      }
    }
    &__btn {
      margin: 6% 0 0;
      text-align: right;
    }
    .btn {
      &::before {
        @include sp {
          right: 10px;
        }
      }
      &::after {
        @include sp {
          right: 8px;
        }
      }
    }
  }
}
