.home {
  .sidebar {
    background: #fafafa;
    &__inner {
      display: flex;
      justify-content: space-between;
      @include sp {
        flex-direction: column;
        padding-bottom: 8%;
      }
    }
    .news {
      width: 70%;
      @include sp {
        width: 100%;
      }
      &__block {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        margin-top: 2%;
        padding: 2% 2% 4%;
        border: 1px solid $borderColor;
        table {
          width: 100%;
        }
        tr {
          border-bottom: 1px solid $borderColor;
        }
        td {
          padding-top: 4%;
          @include sp {
            padding-top: 2%;
          }
        }
      }
      &__date {
        width: 10%;
        padding-left: 1%;
        @include sp {
          display: block;
        }
      }
      &__comment {
        width: 70%;
        @include sp {
          display: block;
          width: 100%;
          margin-bottom: 2%;
        }
      }
      &__linkarea {
        margin-top: 4%;
        text-align: right;
      }
      &__link {
        color: #0000ee;
        opacity: 1;
        transition: all 0.5s;
        &:hover {
          opacity: 0.7;
          transition: all 0.5s;
        }
      }
    }
    .sns {
      width: 32%;
      margin-left: 2%;
      @include sp {
        width: 100%;
        margin-left: 0;
        margin-top: 8%;
      }
      &__block {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        margin-top: 4%;
        padding: 2%;
        border: 1px solid $borderColor;
      }
    }
  }
}
