.header { position: fixed; top: 0; display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 1% 4%; z-index: 5; color: #fff; }

@media (max-width: 500px) { .header { padding: 4% 2%; } }

.header__logo { width: 10%; }

.header .js-btn { display: none; position: relative; width: 30px; height: 30px; z-index: 20; }

@media (max-width: 500px) { .header .js-btn { display: block; } }

.header .js-btn span { display: inline-block; position: absolute; top: 0%; right: 40%; width: 20px; height: 2px; background: #fff; }

.header .js-btn span:first-child { top: 20%; transition: 0.5s; }

.header .js-btn span:nth-child(2) { top: 50%; transition: 0.5s; }

.header .js-btn span:nth-child(3) { top: 80%; transition: 0.5s; }

.header .js-btn.is-active span { background: #fff; transition: 0.5s; }

.header .js-btn.is-active span:first-child { top: 50%; transform: rotate(45deg); transition: 0.5s; }

.header .js-btn.is-active span:nth-child(2) { opacity: 0; transition: 0.5s; }

.header .js-btn.is-active span:nth-child(3) { top: 50%; transform: rotate(-45deg); transition: 0.5s; }

@media (max-width: 500px) { .header .g-nav { position: absolute; top: 0; right: -100%; width: 100vw; height: 100vh; padding-top: 20%; background: linear-gradient(#644948, #192237); transition: all 0.5s; text-align: center; z-index: 15; } }

.header .g-nav.is-active { right: 0; overflow-y: hidden; transition: all 0.5s; }

.header .g-nav__logo { display: none; }

@media (max-width: 500px) { .header .g-nav__logo { display: inline-block; width: 70%; } }

.header .g-nav__list { display: flex; justify-content: flex-end; margin: 0.5% auto 0; }

@media (max-width: 500px) { .header .g-nav__list { flex-direction: column; margin-top: 20%; line-height: 4.5rem; text-align: center; } }

.header .g-nav__item { position: relative; margin: 0 4%; padding-bottom: 2%; letter-spacing: 0.1rem; font-family: "Dancing Script", cursive; }

@media (max-width: 500px) { .header .g-nav__item { font-size: 40px; } }

.header .g-nav__item::before { content: ""; position: absolute; bottom: 0; display: inline-block; width: 0%; height: 1px; background: #fff; transition: 0.3s; }

@media (max-width: 500px) { .header .g-nav__item::before { display: none; } }

.header .g-nav__item:hover:before { width: 100%; transition: 0.3s; }

.header .g-nav__bottom { display: flex; justify-content: space-between; align-items: center; position: absolute; bottom: 0; padding: 0 4%; }

.header .g-nav__comment { display: none; }

@media (max-width: 500px) { .header .g-nav__comment { display: block; width: 50%; text-align: left; } }

.header .g-nav__comment .g-nav__txt { display: inline-block; font-size: 14px; line-height: 1.7; color: #333; }

.header .g-nav__imgwrap { display: none; }

@media (max-width: 500px) { .header .g-nav__imgwrap { position: relative; display: flex; align-items: center; width: 50%; margin: 8% 0 0; }
  .header .g-nav__imgwrap .g-nav__img:nth-child(2) { margin: 0 0 0 -40%; } }

.header .g-nav__btn { display: flex; align-items: center; justify-content: center; color: #fff; margin: 6% auto; font-size: 14px; letter-spacing: 2px; border-radius: 5px; width: 200px; height: 40px; font-weight: bold; border-bottom: 4px solid #956703; transition: 0.3s; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4); background-color: #fabd30; }

.header .g-nav__btn:hover { box-shadow: 0 0 rgba(0, 0, 0, 0.4); border-bottom-width: 2px; transform: translateY(2px); }

.header.active { background: #333; transition: 0.5s; }

.js-list-border.is-active { border-bottom: 1px solid #fff; }

.home .mv { background: url(../images/fv_pc.jpg) no-repeat top/cover; }

@media (max-width: 500px) { .home .mv { background: url(../images/fv_sp.png) no-repeat center/cover; height: 100vh; } }

.home .mv__inner { position: relative; height: 120vh; }

@media (max-width: 500px) { .home .mv__inner { height: 100vh; } }

.home .mv .hero { position: absolute; top: 64%; left: 50%; transform: translate(-50%, -50%); padding: 0 2%; width: 100%; letter-spacing: 10px; color: #fff; text-align: center; }

@media (max-width: 500px) { .home .mv .hero { flex-direction: column; top: 50%; width: 100%; text-align: center; } }

.home .mv .hero__copy { display: inline-block; font-size: 28px; font-weight: bold; text-align: center; }

@media (max-width: 500px) { .home .mv .hero__copy { font-size: 24px; letter-spacing: 0.08em; } }

.home .mv .hero__copy:first-child { font-size: 52px; }

@media (max-width: 500px) { .home .mv .hero__copy:first-child { font-size: 36px; } }

.home .mv .hero__copy:not(:first-child) { margin: 2% 0 0; }

@media (max-width: 500px) { .home .mv .hero__copy:not(:first-child) { margin: 10% 0 0; line-height: 1.7; } }

.home .mv .hero__logo { display: inline-block; margin: 0 1.5% 0 0; width: 15%; vertical-align: middle; }

@media (max-width: 500px) { .home .mv .hero__logo { width: 22%; } }

.home .feature { overflow-x: hidden; background: linear-gradient(#644948, #192237); }

.home .column__list { display: flex; justify-content: space-between; flex-direction: column; }

.home .column__item { position: relative; color: #fff; width: 100%; }

.home .column__item:nth-child(even) .column__text { left: 50%; }

@media (max-width: 500px) { .home .column__item:nth-child(even) .column__text { left: 5%; } }

@media (max-width: 500px) { .home .column__item:last-child .column__text { top: 50%; } }

.home .column__bg { height: 45vh; filter: brightness(80%); }

.home .column__bg01 { background: url(../images/feature_img01.jpeg) no-repeat center/cover; }

.home .column__bg02 { background: url(../images/feature_img02.jpeg) no-repeat center/cover; }

.home .column__bg03 { background: url(../images/feature_img03.jpeg) no-repeat center/cover; }

.home .column__text { position: absolute; top: 48%; left: 10%; transform: translateY(-50%); padding: 0 2%; width: 55%; }

@media (max-width: 500px) { .home .column__text { left: 5%; width: 90%; } }

.home .column__title { font-size: 36px; }

@media (max-width: 500px) { .home .column__title { font-size: 30px; } }

.home .column__desc { margin: 1% 0 0 0; font-size: 24px; line-height: 1.7; }

@media (max-width: 500px) { .home .column__desc { font-size: 18px; } }

.home .program { overflow: hidden; background: #fff; padding: 8% 0; }

@media (max-width: 500px) { .home .program { padding: 20% 0 28%; } }

.home .program .sec-title { text-align: center; color: #333; }

.home .program .swiper-slide { margin: 4% 0 0; }

@media (max-width: 500px) { .home .program .swiper-slide { margin: 8% 0 0; } }

.home .program .swiper-slide__item { display: flex; flex-direction: row-reverse; justify-content: flex-start; align-items: center; width: 100%; background: #fff; border-radius: 25px; box-shadow: 0 0 20px #ccc; }

@media (max-width: 500px) { .home .program .swiper-slide__item { flex-direction: column-reverse; } }

.home .program .swiper-slide__item__txt { padding: 2%; width: 70%; text-align: right; }

@media (max-width: 500px) { .home .program .swiper-slide__item__txt { padding: 2% 2% 10%; width: 100%; } }

.home .program .swiper-slide__item__txt-ttl { font-weight: bold; font-size: 36px; text-align: left; }

@media (max-width: 500px) { .home .program .swiper-slide__item__txt-ttl { font-size: 24px; } }

.home .program .swiper-slide__item__txt-date { margin: 1% 0 0; font-size: 18px; text-align: left; }

@media (max-width: 500px) { .home .program .swiper-slide__item__txt-date { font-size: 14px; } }

.home .program .swiper-slide__item__txt-desc { margin: 2% 0 0; padding: 0 0 4%; font-size: 20px; line-height: 1.7; text-align: left; }

@media (max-width: 500px) { .home .program .swiper-slide__item__txt-desc { font-size: 14px; } }

@media (max-width: 500px) { .home .program .swiper-slide__item__btn { display: inline-block; margin: 0 2% 0 0; } }

.home .program .swiper-slide__item-img { width: 30%; }

@media (max-width: 500px) { .home .program .swiper-slide__item-img { width: 100%; } }

.home .program .swiper-slide__item-img img { border-radius: 25px 0 0 25px; }

@media (max-width: 500px) { .home .program .swiper-slide__item-img img { border-radius: 25px 25px 0 0; } }

.home .program .swiper-slide03 .swiper-slide__item__txt { padding: 2% 2% 4%; }

.home .program .swiper-slide03 .swiper-slide__item-img img { border-radius: 0; }

@media (max-width: 500px) { .home .program .swiper-slide03 .swiper-slide__item-img img { border-radius: 25px 25px 0 0; } }

@media (max-width: 500px) { .home .program .swiper-wrapper { display: flex; align-items: center; } }

.home .program .swiper-pagination { bottom: -40px; z-index: 10; }

.home .program .swiper-button-prev, .home .program .swiper-button-next { position: absolute; top: 50%; width: 50px; height: 50px; opacity: 0.7; }

.home .program .swiper-button-prev:after, .home .program .swiper-button-next:after { content: ""; background: url(../images/swiper-arrow.svg) no-repeat center/cover; width: 50px; height: 50px; }

.home .program .swiper-button-prev { left: 5%; transform: rotate(180deg); }

@media (max-width: 500px) { .home .program .swiper-button-prev { left: 0; } }

.home .program .swiper-button-next { right: 5%; }

@media (max-width: 500px) { .home .program .swiper-button-next { right: 0; } }

.program-page .header { background: #333; }

.program-page .sec-title { font-size: 70px; text-align: center; }

.program-page .program { padding: 8% 0 4%; background: url(../images/voice_bg.png) no-repeat center/cover; }

.program-page .program__list { display: flex; flex-direction: column; margin: 4% 0 0; }

@media (max-width: 500px) { .program-page .program__list { margin: 12% 0 0; } }

.program-page .program__item { display: flex; align-items: flex-start; margin: 4% 0 0; background: #fff; border-radius: 25px; box-shadow: 0 0 20px #ccc; }

@media (max-width: 500px) { .program-page .program__item { flex-direction: column; align-items: center; margin: 20% 0 0; } }

.program-page .program__item:first-child { margin: 0; }

.program-page .program__item:nth-child(3) { align-items: center; }

.program-page .program__item:not(:last-child) .program__item-img img { border-radius: 25px 0 0 25px; }

.program-page .program__item-img { width: 40%; }

@media (max-width: 500px) { .program-page .program__item-img { width: 70%; } }

.program-page .program__item-text { padding: 2% 2% 4%; }

@media (max-width: 500px) { .program-page .program__item-text { padding: 2%; } }

.program-page .program__item-ttl { font-weight: bold; font-size: 36px; }

@media (max-width: 500px) { .program-page .program__item-ttl { margin: 4% 0 0; font-size: 24px; } }

.program-page .program__item-date { margin: 1% 0 0; }

.program-page .program__item-detail { margin: 3% 0 0; line-height: 1.7; }

@media (max-width: 500px) { .program-page .program__item-detail { line-height: 1.7; } }

.program-page .program__btn { margin: 6% 0 0; text-align: right; }

@media (max-width: 500px) { .program-page .program .btn::before { right: 10px; } }

@media (max-width: 500px) { .program-page .program .btn::after { right: 8px; } }

.home .actor { overflow: hidden; padding: 8% 0 0; background: url(../images/voice_bg.png) no-repeat center/cover; }

@media (max-width: 500px) { .home .actor { padding: 8% 0; } }

.home .actor .sec-title { text-align: center; }

.home .actor__inner { padding: 4% 2% 6%; }

@media (max-width: 500px) { .home .actor__inner { padding: 14% 2%; } }

.home .actor__list { display: flex; justify-content: center; margin: 4% 0; }

.home .actor__list-item { width: 15%; margin: 0 4%; }

@media (max-width: 500px) { .home .actor__list-item { width: 30%; margin: 8% 6%; } }

.home .actor__name { margin-top: 4%; font-size: 20px; text-align: center; }

@media (max-width: 500px) { .home .actor__name { font-size: 16px; } }

.home .actor__imgwrap { border-radius: 50%; box-shadow: 5px 5px 10px #ccc; }

.home .actor__btn { margin-top: 6%; text-align: right; }

.home .actor__btn .btn { border-color: #ccc; padding: 1% 10% 1% 4%; }

@media (max-width: 500px) { .home .actor__btn .btn:before { right: 10px; } }

@media (max-width: 500px) { .home .actor__btn .btn:after { top: 16px; right: 8px; } }

.actor-page .header { background: #333; }

.actor-page .actor { padding: 8% 0 4%; background: url(../images/voice_bg.png) no-repeat center/cover; }

@media (max-width: 500px) { .actor-page .actor { padding-top: 20%; } }

.actor-page .actor__container { padding: 10% 0; }

.actor-page .actor .sec-title { font-size: 70px; text-align: center; }

.actor-page .actor__list { display: flex; justify-content: space-between; padding: 4% 0 0; }

@media (max-width: 500px) { .actor-page .actor__list { flex-wrap: wrap; padding: 4%; } }

.actor-page .actor__list .tab { width: 15%; }

.actor-page .actor__list .tab:nth-child(3), .actor-page .actor__list .tab:nth-child(4), .actor-page .actor__list .tab:nth-child(5), .actor-page .actor__list .tab:nth-child(6) { pointer-events: none; }

@media (max-width: 500px) { .actor-page .actor__list .tab { width: 30%; margin-bottom: 4%; } }

.actor-page .actor__list .tab .actor__imgwrap { width: 75%; border-radius: 50%; box-shadow: 5px 5px 10px #ccc; }

.actor-page .actor .panel-group { margin-top: 4%; }

.actor-page .actor .tab { opacity: 0.7; }

.actor-page .actor .tab.is-active { opacity: 1; }

.actor-page .actor .panel { display: none; }

.actor-page .actor .panel.is-show { display: block; -webkit-animation: isShow 1s ease forwards; animation: isShow 1s ease forwards; }

@-webkit-keyframes isShow { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes isShow { 0% { opacity: 0; }
  100% { opacity: 1; } }

.actor-page .actor__card { display: flex; align-items: flex-start; }

@media (max-width: 500px) { .actor-page .actor__card { flex-direction: column; margin-top: 0%; align-items: center; } }

.actor-page .actor__bigimgwrap { position: relative; width: 50%; border-radius: 50%; box-shadow: 5px 5px 10px #ccc; }

.actor-page .actor__bigimgwrap img { transition: all 0.5s; }

.actor-page .actor__text { width: 90%; padding: 4% 0 4% 6%; }

@media (max-width: 500px) { .actor-page .actor__text { width: 100%; margin-top: 4%; padding: 0; } }

.actor-page .actor__name { font-size: 32px; text-align: left; }

@media (max-width: 500px) { .actor-page .actor__name { font-size: 24px; } }

.actor-page .actor__personal__list { margin: 2% 0 0; line-height: 1.7; }

.actor-page .actor__personal__list-ttl, .actor-page .actor__personal__list-desc { display: inline-block; vertical-align: top; }

.actor-page .actor__personal__list-ttl { width: 25%; }

.actor-page .actor__personal__list-desc { width: 73%; }

.actor-page .actor .history { display: flex; justify-content: space-between; margin: 2% 0 0 0; }

@media (max-width: 500px) { .actor-page .actor .history { flex-direction: column; } }

.actor-page .actor .history__ttl { font-size: 24px; }

@media (max-width: 500px) { .actor-page .actor .history__ttl { margin: 4% 0 0; } }

.actor-page .actor .history__cat { margin: 2% 0 0; }

@media (max-width: 500px) { .actor-page .actor .history__cat { margin: 4% 0 0; } }

.actor-page .actor .history__container { padding: 2% 0 0; width: 50%; }

@media (max-width: 500px) { .actor-page .actor .history__container { width: 100%; } }

.actor-page .actor .history__container__list { padding: 2% 0 0; line-height: 2; }

@media (max-width: 500px) { .actor-page .actor .history__container__list { width: 100%; } }

.actor-page .actor .history__container__list-ttl { display: inline-block; width: 49%; font-size: 14px; }

@media (max-width: 500px) { .actor-page .actor .history__container__list-ttl { display: block; margin: 2% 0 0; width: 100%; font-size: 18px; } }

.actor-page .actor .history__container__list-desc { display: inline-block; width: 50%; font-size: 14px; vertical-align: top; }

@media (max-width: 500px) { .actor-page .actor .history__container__list-desc { display: block; margin: -1% 0 0; width: 100%; font-size: 16px; } }

.actor-page .actor .history__sub-cat { display: inline-block; margin: 2% 0 0; padding: 0.5% 1%; border-radius: 5px; background: #590206; color: #fff; }

.actor-page .actor .imgOpacity { opacity: 0; transition: all 0.5; }

.contact-page .header { background: #333; }

.contact-page .contact { background: url(../images/voice_bg.png) no-repeat center/cover; padding: 8% 0; }

.contact-page .contact__name, .contact-page .contact__mail, .contact-page .contact__textarea { width: 70%; padding: 1%; background: #fff; border: 1px solid #e0dcdc; border-radius: 5px; }

@media (max-width: 500px) { .contact-page .contact__name, .contact-page .contact__mail, .contact-page .contact__textarea { width: 100%; margin-top: 2%; } }

.contact-page .contact .sec-title { text-align: center; margin-bottom: 10%; }

.contact-page .contact__btn-wrap { text-align: center; }

.contact-page .contact__btn { display: flex; align-items: center; justify-content: center; color: #ffffff; margin: 6% auto; font-size: 18px; letter-spacing: 2px; border-radius: 5px; width: 200px; height: 40px; font-weight: bold; border-bottom: 4px solid #179e43; transition: 0.3s; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4); background-color: #19d256; }

.contact-page .contact__btn:hover { box-shadow: 0 0 rgba(0, 0, 0, 0.4); border-bottom-width: 2px; transform: translateY(2px); }

.contact-page .contact__container { width: 50%; }

@media (max-width: 500px) { .contact-page .contact__container { width: 100%; padding-top: 20%; } }

.contact-page .contact .send { margin: 0 auto 2%; width: 47%; }

@media (max-width: 500px) { .contact-page .contact .send { width: 100%; } }

.contact-page .contact .program-wrap { margin: 0 auto 1%; width: 47%; }

@media (max-width: 500px) { .contact-page .contact .program-wrap { width: 100%; line-height: 1.7; } }

.contact-page .contact label[for="your-name"], .contact-page .contact [for="e-mail"] { display: inline-block; margin: 0 5% 0; width: 10%; }

@media (max-width: 500px) { .contact-page .contact label[for="your-name"], .contact-page .contact [for="e-mail"] { display: block; width: 100%; } }

.contact-page .contact label[for="message"] { vertical-align: top; display: inline-block; margin: 0 5% 0; width: 10%; }

@media (max-width: 500px) { .contact-page .contact label[for="message"] { display: block; width: 100%; } }

.contact-page .contact__textarea { height: 200px; }

.contact-page .contact .field-wrap { margin: 4% auto; width: 80%; }

@media (max-width: 500px) { .contact-page .contact .field-wrap { width: 100%; } }

.home .sidebar { background: #fafafa; }

.home .sidebar__inner { display: flex; justify-content: space-between; }

@media (max-width: 500px) { .home .sidebar__inner { flex-direction: column; padding-bottom: 8%; } }

.home .sidebar .news { width: 70%; }

@media (max-width: 500px) { .home .sidebar .news { padding: 8% 0; width: 100%; } }

.home .sidebar .news__block { width: 100%; background: #fff; border-radius: 5px; margin-top: 2%; padding: 2% 2% 4%; border: 1px solid #e0dcdc; }

@media (max-width: 500px) { .home .sidebar .news__block { margin: 8% 0 0; } }

.home .sidebar .news__block table { width: 100%; }

.home .sidebar .news__block tr { border-bottom: 1px solid #e0dcdc; }

.home .sidebar .news__block td { padding-top: 4%; }

@media (max-width: 500px) { .home .sidebar .news__block td { padding-top: 2%; } }

.home .sidebar .news__date { width: 10%; padding-left: 1%; }

@media (max-width: 500px) { .home .sidebar .news__date { display: block; } }

.home .sidebar .news__comment { width: 70%; }

@media (max-width: 500px) { .home .sidebar .news__comment { display: block; width: 100%; margin-bottom: 2%; } }

.home .sidebar .news__linkarea { margin-top: 4%; text-align: right; }

.home .sidebar .news__link { color: #0000ee; opacity: 1; transition: all 0.5s; }

.home .sidebar .news__link:hover { opacity: 0.7; transition: all 0.5s; }

.home .sidebar .sns { width: 32%; margin-left: 2%; }

@media (max-width: 500px) { .home .sidebar .sns { width: 100%; margin: 8% 0; } }

.home .sidebar .sns__block { width: 100%; background: #fff; border-radius: 5px; margin-top: 4%; padding: 2%; border: 1px solid #e0dcdc; }

.news-page .header { background: #333; }

.news-page .news { padding: 8% 0 4%; background: url(../images/voice_bg.png) no-repeat center/cover; }

@media (max-width: 500px) { .news-page .news { width: 100%; } }

.news-page .news .sec-title { font-size: 70px; text-align: center; }

.news-page .news__block { width: 100%; background: #fff; border-radius: 25px; margin-top: 2%; padding: 2% 2% 4%; box-shadow: 0 0 20px #e7e7e7; }

.news-page .news__block table { width: 100%; }

.news-page .news__block tr { border-bottom: 1px solid #e0dcdc; }

.news-page .news__block td { padding-top: 4%; }

@media (max-width: 500px) { .news-page .news__block td { padding-top: 2%; } }

.news-page .news__date { width: 10%; padding-left: 1%; }

@media (max-width: 500px) { .news-page .news__date { display: block; } }

.news-page .news__comment { width: 70%; }

@media (max-width: 500px) { .news-page .news__comment { display: block; width: 100%; margin-bottom: 2%; } }

.news-page .news__linkarea { margin-top: 4%; text-align: right; }

.footer { background: #333; color: #fff; text-align: center; }

@media (max-width: 500px) { .footer { padding: 1.5% 2% 0.5%; } }

.footer .inner { padding: 2% 2% 1%; }

@media (max-width: 500px) { .footer .inner { padding: 1.5% 2% 0.5%; } }

.footer__logo { width: 10%; }

@media (max-width: 500px) { .footer__logo { font-size: 22px; } }

.footer__list { display: flex; justify-content: center; margin: 1% 0 0; }

@media (max-width: 500px) { .footer__list { margin-top: 2%; } }

.footer__list-item { margin: 0 1% 0; letter-spacing: 0.1rem; font-size: 14px; font-family: "Dancing Script", cursive; }

@media (max-width: 500px) { .footer__list-item { font-size: 12px; } }

.footer small { display: inline-block; margin: 2% 0 0; font-size: 10px; font-weight: lighter; font-family: "Dancing Script", cursive; }

@media (max-width: 500px) { .footer small { margin: 4% 0 0; } }

html { font-size: 100%; scroll-behavior: smooth; }

html.is-menuOpen { position: fixed; overflow-y: hidden; }

img { max-width: 100%; height: auto; }

body { font-family: "Kaisei Decol", sans-serif; color: #333; letter-spacing: 1px; }

.pc-only { display: block; }

@media (max-width: 500px) { .pc-only { display: none; } }

.sp-only { display: none; }

@media (max-width: 500px) { .sp-only { display: block; } }

.inner { max-width: 1280px; margin-right: auto; margin-left: auto; width: 95%; padding: 4% 2%; }

@media (max-width: 500px) { .inner { padding: 14% 2%; } }

.logo { display: inline-block; text-align: center; }

@media (max-width: 500px) { .logo { width: 20%; } }

.btn { position: relative; padding: 1.5% 8%; border: 1px solid #e0dcdc; transition: all 0.5s; }

.btn::before { content: ""; display: inline-block; position: absolute; top: 63%; right: 10%; width: 30px; height: 1px; background: #333; transition: all 0.5s; }

@media (max-width: 500px) { .btn::before { width: 20px; } }

.btn::after { content: ""; display: inline-block; position: absolute; top: 55%; right: 9%; width: 10px; height: 1px; transform: rotate(45deg); background: #333; transition: all 0.5s; }

.btn:hover { background: #333; color: #fff; }

.btn:hover::before { background: #fff; right: 7%; transition: all 0.5s; }

.btn:hover::after { background: #fff; right: 6%; transition: all 0.5s; }

.sec-title { font-size: 60px; font-weight: bold; font-family: "Dancing Script", cursive; }

@media (max-width: 500px) { .sec-title { font-size: 50px; text-align: center; } }

.page-top { position: fixed; display: inline-block; width: 50px; height: 50px; right: 0; bottom: 0; background: #333; transition: 0.3s; opacity: 0; cursor: pointer; }

.page-top:before { content: ""; display: inline-block; width: 12px; height: 12px; position: absolute; top: 54%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg); border-top: 2px solid #fff; border-right: 2px solid #fff; }
